@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,200;1,9..40,400&display=swap');

*{
    font-family: 'DM Sans', sans-serif; 
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background: #000;
}